* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container {
  background-color: #1e2236;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #292847;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 6px 3px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 6px 3px -4px rgba(0, 0, 0, 0.42);
  overflow: hidden;
  z-index: 1;
  /* align-items: flex-end; */
}

.search-bar {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 10px;
  background-color: #1e2236;
  border: none;
  caret-color: white;
  color: white;
}

.search-bar:focus {
  border: none;
  outline: none;
}

.search-bar::placeholder {
  font-style: italic;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  height: 100%;
  overflow: auto;
}

.content {
  height: 470px;
  width: 250px;
  background-color: #292847;
  margin-right: 16px;
  margin-top: 16px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.49);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.content img {
  width: 100%;
  height: 350px;
  object-fit: fill;
}

.content-body {
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-body p {
  font-weight: bold;
}

.content-description {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  color: white;
}

.content-description p {
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.82);
  /* font-weight: 600; */
}

.content:hover .content-description {
  transform: translateY(0);
  transition: transform 0.2s ease-in;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}
